.techfont {
  font-family: "Lato" sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.centerstage {
  margin-left: auto;
  margin-right: auto;
}

.postdate {
  text-align: center;
}

.posttitle {
  font-family: "Lato" sans-serif;
  font-size: 3em;
  text-align: left;
}

.postcontent {
  font-family: "Montserrat";
  font-size: 1.5em;
}

.btn-comment {
  position: absolute;
  right: 0px;
}

.fa-user {
  size: 50px;
  color: black;
  padding: 5px;
}

fa-sign-out-alt {
  size: 50px;
  color: blue;
  padding: 5px;
}

fa-plus {
  size: 50px;
  color: blue;
  padding: 5px;
}

.fa-pencil-alt {
  size: 50px;
  color: white;
}

.fa-trash-alt {
  size: 50px;
  color: white;
}

.fa-check {
  size: 50px;
  color: white;
}

.comment {
    padding: 10px;
    margin: 10px;
}
