<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% load staticfiles }

{% block title %}
    Login
{% endblock title %}


{% block body_block %}
    <div class="jumbotron">
        <h1>Please Login</h1>
        <form action="{% url "basic_app:user_login" %}" method="post">
            {% comment %}
                A more "HTML" way of creating the login form 
            {% endcomment %}

            {% csrf_token %}
            <label for="username"> Username: </label>
            <input type="text" name="username" placeholder="Enter username">

            <label for="password"> Password: </label>
            <input type="password" name="password">

            <input type="submit" value="login">
        </form>
    </div>
{% endblock body_block %}
    
    